spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hospital
    username: postgres
    password: jinchuuriki
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  hibernate:
    format_sql: true
    use_sql_comments: true
    jdbc:
      lob:
        non_contextual_creation: true
